# Local tooling
.bundle
vendor
node_modules
package-lock.json

# IDE
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Legacy artifacts
.jekyll-cache
.jekyll-metadata
_site
_site_dev
_site_prod

# Hugo artifacts
public
resources
.hugo_build.lock

# Misc
*.gem
_sass/vendors
assets/js/dist
